<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moe.wallet.mapper.WalletMapper">

    <update id="updateByBO">
        UPDATE rb_wallet
        <set>
            <if test="balance != null and balance != 0">
                balance = balance + #{balance},
            </if>
            <if test="totalCommission != null and totalCommission != 0">
                total_commission = total_commission + #{totalCommission},
            </if>
            <if test="upcomingCommission != null and upcomingCommission != 0">
                upcoming_commission = upcoming_commission + #{upcomingCommission},
            </if>
            <if test="withdrawnCommission != null and withdrawnCommission != 0">
                withdrawn_commission = withdrawn_commission + #{withdrawnCommission},
            </if>
            <if test="orderAmount != null and orderAmount != 0">
                order_amount = order_amount + #{orderAmount},
            </if>
            <if test="orderCount != 0">
                order_count = order_count + #{orderCount},
            </if>
            <if test="inviteOrderCount != 0">
                invite_order_count = invite_order_count + #{inviteOrderCount},
            </if>
            <if test="childInviteOrderCount != 0">
                child_invite_order_count = child_invite_order_count + #{childInviteOrderCount},
            </if>
        </set>
        WHERE id = #{walletId}
    </update>

    <select id="selectMyCommission" resultType="com.moe.wallet.domain.vo.MyCommissionVO">
        SELECT
            IFNULL(SUM(IF(DATE(order_time) = CURDATE(), commission, 0)),0) AS todayCommission,
            IFNULL(SUM(IF(DATE(order_time) = DATE_SUB(CURDATE(), INTERVAL 1 DAY), commission, 0)),0) AS yesterdayCommission,
            IFNULL(SUM(IF(DATE_FORMAT(order_time, '%Y-%m') = DATE_FORMAT(CURDATE(), '%Y-%m'), commission, 0)),0) AS thisMonthCommission,
            IFNULL(SUM(IF(DATE_FORMAT(order_time, '%Y-%m') = DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m'), commission, 0)),0) AS lastMonthCommission
        FROM
            (SELECT status,order_time, commission FROM `rb_order`
             WHERE user_id = #{userId} AND order_time >= DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01 00:00:00')
             UNION ALL
             SELECT status,order_time, parent_commission AS commission FROM `rb_order`
             WHERE parent_user_id = #{userId} AND order_time >= DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01 00:00:00')
             UNION ALL
             SELECT status,order_time, grand_parent_commission AS commission FROM `rb_order`
             WHERE grand_parent_user_id = #{userId} AND order_time >= DATE_FORMAT(DATE_SUB(CURDATE(), INTERVAL 1 MONTH), '%Y-%m-01 00:00:00')
            ) mid
        WHERE status != 4
    </select>

    <select id="selectMyCommissionDetail" resultType="com.moe.wallet.domain.vo.MyCommissionDetailVO$Unit$Row">
        SELECT platform_type,
        COUNT(*) AS orderCount,
        SUM(IF(user_id = #{userId},commission,0)) AS myOrderCommission,
        SUM(IF(parent_user_id = #{userId}, parent_commission,
                IF(grand_parent_user_id = #{userId}, grand_parent_commission, 0))) AS otherOrderCommission
        FROM rb_order
        WHERE (user_id = #{userId} OR parent_user_id = #{userId} OR grand_parent_user_id = #{userId})
        AND order_time BETWEEN #{startTime} AND #{endTime} AND status != 4
        GROUP BY platform_type
    </select>
</mapper>
