<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moe.order.mapper.OrderMapper">

    <select id="orderList" resultType="com.moe.order.domain.vo.OrderListVO">
        SELECT id,order_no,status,product_id,product_name, product_img,order_amount,platform_type,order_time,fail_reason,has_predict,
        CASE
        WHEN user_id = #{userId} THEN commission
        WHEN parent_user_id = #{userId} THEN parent_commission
        WHEN grand_parent_user_id = #{userId} THEN grand_parent_commission
        ELSE 0.00
        END AS commission
        FROM rb_order
        <where>
            <if test="dto.platformType!=null and dto.platformType != 0">
                AND platform_type = #{dto.platformType}
            </if>
            <if test="dto.statusList != null and dto.statusList.size() > 0">
                AND status IN
                <foreach collection="dto.statusList" item="status" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>
            <if test="dto.keyword != null and dto.keyword != ''" >
                AND (order_no LIKE CONCAT('%',#{dto.keyword},'%') OR product_name LIKE CONCAT('%',#{dto.keyword},'%'))
            </if>
            <if test="dto.type == 1">
                AND user_id = #{userId}
            </if>
            <if test="dto.type == 2">
                AND (parent_user_id = #{userId} OR grand_parent_user_id = #{userId})
            </if>
        </where>
        ORDER BY id DESC
    </select>
</mapper>
