<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moe.admin.mapper.GlobalConfigMapper">

    <select id="selectGlobalConfigByConfigType" resultType="com.moe.common.core.domain.vo.rule.GlobalConfigVO">
        SELECT id, config_type, config_json
        FROM rb_global_config
        WHERE config_type = #{configType}
        LIMIT 1
    </select>

    <!-- 插入或更新通用配置 -->
    <insert id="addOrUpdateGlobalConfigByConfigType" parameterType="com.moe.common.core.domain.dto.rule.GlobalConfigDTO">
        INSERT INTO rb_global_config (config_type, config_json, create_by, create_time, update_by, update_time, remark)
        VALUES (#{dto.configType}, #{dto.configJson}, #{dto.createBy}, NOW(), #{dto.updateBy}, NOW(), #{dto.remark})
            ON DUPLICATE KEY UPDATE
        config_json = VALUES(dto.config_json),
        update_by = VALUES(dto.update_by),
        update_time = NOW();
    </insert>


</mapper>